{erl_opts, [
  {parse_transform, lager_transform},
  debug_info
]}.

{deps, [
  {lager, "3.2.4"},
  {ranch, "1.3.2"}
]}.

{relx, [{release, {rpe, "0.1.0"},
  [lager]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
  {include_erts, true}]}]
}]
}.
